body{
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  font-family: 'Kumbh Sans';   
}

#card{
  position: relative;
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
  border-radius: 30px;  
  width: 55%;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 70px;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: left;
  z-index: 0;
}

#text{
  margin-left: 40%;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  border: 10px solid transparent;
}
.answer{
  display: none;
  padding: 20px;
  width: 80%;
  font-size: 12px;
}

.question{
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

 .active, .question:hover{
    color: orange;
   cursor: pointer;
}



.question::after{
  content: url(../images/icon-arrow-down.svg);
  padding-left: 9em;
  float: right; 
}

#title{
  font-weight: 700;
  margin-left: 4%;
  
}

#womanDesktop{
  position: absolute;
  top: 10%;
  left: -8%;
  z-index: -1;
}

#boxDesktop{
  margin-left: -145px;
  margin-bottom: 15px;
  
}


