
html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100%;
  font-family: 'Kumbh Sans';
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#card {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 65%;
  margin: auto;
  background-color: whitesmoke;
  padding: 30px;
  background-image: url("../images/bg-pattern-mobile.svg");
  z-index: 0;
}

#womanDesktop, #boxDesktop {
  display: none;
}

#womanMobile {
  position: absolute;
  top: -105px;
  right: 96px;
  z-index: -1;
}

#text {
  left: 50%;
  padding-top: 20%;
  font-size: 12px;
  font-weight: 400;
  border: 10px solid transparent;
}

.answer {
  display: none;
  color: hsl(240, 6%, 50%);
  padding: 20px;
  width: auto;
}

.question {
  color: hsl(237, 12%, 33%);
  padding: 20px;
  width: auto;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.active, .question:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.question::after {
  content: url(../images/icon-arrow-down.svg);
  padding-left: 1em;
  float: right;
}

#title {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
  margin: 0 auto;
}

@media (min-width: 700px) and (max-width: 1150px) {
  #text {
    padding-top: 15%;
    font-size: 15px;
    font-weight: 400;
    border: 10px solid transparent;
  }
  #womanMobile {
    top: -105px;
    right: 225px;
    
  }
}

@media (min-width: 1151px) {
  #card {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 55%;

    padding: 70px;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: left;
  }
  #text {
    padding-top: 0;
    margin-left: 50%;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    border: 10px solid transparent;
  }
  .question::after {
    padding-left: 0.1em;
    
  }
  #womanDesktop {
    display: block;
    position: absolute;
    top: 10%;
    left: -10%;
    z-index: -1;
  }
  #boxDesktop {
    display: block;
    position: absolute;
    top: 40%;
    left: -10.4%;
  }
  #womanMobile {
    display: none;
  }
}